<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png" href="photos/icon.jpg" />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gluten:wght@300&family=Roboto+Slab&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Open+Sans:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="intostyle.css" />
    <title>PG-Hunt</title>
  </head>

  <body>
    <img src="photos/logo.png" class="nav__logo" id="logo" />
    <header class="header">
      <nav class="nav nav-disable-in-mobile">
        
        <ul class="nav__links">
          <li class="nav__item">
            <a class="nav__link" href="#section--1">Features</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#section--2">Operations</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#section--3">Testimonials</a>
          </li>
          <li class="nav__item">
            <a class="btn-primary btn out nav__link--btn" href="/register">Open account</a>
          </li>
        </ul>
      </nav>
      <nav class="nav nav-enable-in-mobile">
        <img src="photos/logo.png" class="nav__logo" id="logo" />
        <ul class="nav__links">
          <li class="nav__item">
            <a class="nav_link  btn-primary btn out nav__link--btn" href="/register">Open account</a>
          </li>
        </ul>
      </nav>

      <div class="header__title">
        <h1>
          The Best

          <span class="highlight">PG </span>
          at your <br />
          <span class="highlight">Fingertips</span>
        </h1>

        <button class="btn--text btn--scroll-to">Learn more &DownArrow;</button>
        <img src="photos/hero.jpg" class="header__img" />
      </div>
    </header>

    <section class="section" id="section--1">
      <div class="section__title">
        <h2 class="section__description">Features</h2>
        <h3 class="section__header">
          PG Hunt has everything you need to make your PG search easy & flexible
        </h3>
      </div>

      <div class="features">
        <img src="photos/digital-lazy.jpg" class="features__img" />
        <div class="features__feature" id="feature-first">
          <div class="features__icon" >
            <svg>
              <use xlink:href="photos/icons.svg#icon-monitor"></use>
            </svg>
          </div>
          <h5 class="features__header">100% secure</h5>
          <p>
            Your login credentials and profile is completely safe with us. At
            PG Hunt, your data is not shared with any third party applications
            and your preferances are kept properly hidden in our servers. We
            value your privacy, and we know the worth of it. No external ads,
            completely confidential data. 
          </p>
        </div>

        <div class="features__feature">
          <div class="features__icon">
            <svg>
              <use xlink:href="photos/icons.svg#icon-trending-up"></use>
            </svg>
          </div>
          <h5 class="features__header">Connect with the PG owner</h5>
          <p>
            Choose the PG of your choice and connect with the owner across
            various platforms.
          </p>
        </div>
        <img src="photos/grow-lazy.jpg" alt="Plant" class="features__img" />

        <img
          src="photos/card-lazy.jpg"
          data-src="photos/card.jpg"
          class="features__img lazy-img"
        />
        <div class="features__feature">
          <div class="features__icon">
            <svg>
              <use xlink:href="photos/icons.svg#icon-credit-card"></use>
            </svg>
          </div>
          <h5 class="features__header">See the reviews and choose yourselfs</h5>
          <p>
            With over 100+ 4.5 star+ rated PG's , choose among the vast range of
            choices
          </p>
        </div>
      </div>
    </section>

    <section class="section" id="section--2">
      <div class="section__title">
        <h2 class="section__description">Operations</h2>
        <h3 class="section__header">
          Everything as simple as possible, just a few clicks away.
        </h3>
      </div>

      <div class="operations">
        <div class="operations__tab-container">
          <button
            class="btn operations__tab operations__tab--1 operations__tab--active"
            data-tab="1"
          >
            <span>01</span>Verified !!!
          </button>
          <button class="btn operations__tab operations__tab--2" data-tab="2">
            <span>02</span>75k Users !!!
          </button>
          <button class="btn operations__tab operations__tab--3" data-tab="3">
            <span>03</span>Highest Data Points !!!
          </button>
        </div>
        <div
          class="operations__content operations__content--1 operations__content--active"
        >
          <div class="operations__icon operations__icon--1">
            <svg>
              <use xlink:href="photos/icons.svg#icon-upload"></use>
            </svg>
          </div>
          <h5 class="operations__header">20K+ Verified Listings</h5>
          <p class="operationspara">
            Choose from thousands of 100% genuine PG homes. Single room or a
            shared one, we have got it all.
          </p>
        </div>

        <div class="operations__content operations__content--2">
          <div class="operations__icon operations__icon--2">
            <svg>
              <use xlink:href="photos/icons.svg#icon-home"></use>
            </svg>
          </div>
          <h5 class="operations__header">75,000+ Unique Monthly Users</h5>
          <p class="operationspara">
            Trust us to find the right tenant for you as we have the reach that
            most other platforms do not.
          </p>
        </div>
        <div class="operations__content operations__content--3">
          <div class="operations__icon operations__icon--3">
            <svg>
              <use xlink:href="photos/icons.svg#icon-user-x"></use>
            </svg>
          </div>
          <h5 class="operations__header">300+ Data Points Per PG</h5>
          <p class="operationspara">
            We are here to make it easier for you to select a PG with the
            highest number of data points in the Industry.
          </p>
        </div>
      </div>
    </section>

    <section class="section" id="section--3">
      <div class="section__title section__title--testimonials">
        <h2 class="section__description">Not sure yet?</h2>
        <h2 class="section__header">
          Explore our <span class="highlight">Handpicked </span> Collections of
          <span class="highlight">PG Homes </span>
        </h2>
      </div>

      <div class="slider">
        <div class="slide slide--1">
          <div class="testimonial">
            <h5 class="testimonial__header">Everything was perfect</h5>
            <blockquote class="testimonial__text">
              Great and flexible host, great breakfast. Really affordable and
              the staff is always available. The rooms have AC and it was clean!
              I would recommend it to everyone. Jass is a great guy :)
            </blockquote>
            <address class="testimonial__author">
              <img src="photos/user-1.jpg" alt="" class="testimonial__photo" />
              <h6 class="testimonial__name">Ayush Agarwal</h6>
              <p class="testimonial__location">Kolkata, West Bengal</p>
            </address>
          </div>
        </div>

        <div class="slide slide--2">
          <div class="testimonial">
            <h5 class="testimonial__header">Best Facility !!!</h5>
            <blockquote class="testimonial__text">
              Location and staff service Staffs are prompt and up to the toes
            </blockquote>
            <address class="testimonial__author">
              <img src="photos/user-2.jpg" alt="" class="testimonial__photo" />
              <h6 class="testimonial__name">Neha</h6>
              <p class="testimonial__location">Jalpaiguri, Kolkata</p>
            </address>
          </div>
        </div>

        <div class="slide slide--3">
          <div class="testimonial">
            <h5 class="testimonial__header">Almost everything</h5>
            <blockquote class="testimonial__text">
              It was affordable and the management family had very good manners
              and very homely. I loved the dog there, he was sooo friendly. Had a nice 
              conversation with a french guy about the cultural differences. 
              It was a calm and peaceful stay.
            </blockquote>
            <address class="testimonial__author">
              <img src="photos/user-3.jpg" alt="" class="testimonial__photo" />
              <h6 class="testimonial__name">Ashish Misra</h6>
              <p class="testimonial__location">Kolkata, West Bengal</p>
            </address>
          </div>
        </div>

        <button class="slider__btn slider__btn--left">&larr;</button>
        <button class="slider__btn slider__btn--right">&rarr;</button>
        <div class="dots"></div>
      </div>
    </section>

    <section class="section section--sign-up">
      <div class="section__title">
        <h3 class="section__header">Find a home away from home</h3>
      </div>
      <a href="/register">
        <button class="btn">Open your free account today!</button>
      </a>
    </section>
    <div class="modal hidden">
      <button class="btn--close-modal">&times;</button>
    </div>
    <div class="overlay hidden"></div>

    <script src="introscript.js"></script>
  </body>
</html>

