* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    display: grid;
    grid-template-areas: 
    "profile pg pg pg pg pg"
    "profile pg pg pg pg pg"
    "profile edit edit edit edit edit"
    "profile edit edit edit edit edit";
}
@media screen and (max-width: 930px) {
    body{
        grid-template-areas:
        "profile"
        "pg"
        "edit";
    }
    #profile {
        width: 100%;
    }
    body #form-edit-pg .col-auto{
        margin-left: auto;
        margin-right: auto;
    }
}
#profile{
    grid-area: profile;
}
#existing-pg{
    grid-area: pg;
}
#edit-pg{
    grid-area: edit;
}

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.new-btn {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold;
   
}

.bf{
    margin-top: 50px;
}

.date {
    background-color: #ccc
}

.head-profile{
    font-size: 40px;
    text-align: center;
}
#form-edit-pg{
    width: 96%;
    padding-left: 4%;
    padding-bottom: 3%;
}

#form-edit-pg .col-auto{
    align-self: flex-end;
}